.App-body.home {
  padding: 0 0 60px;
}


/* Banner */
.banner {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 250px 0;
}

.banner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner .container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.banner .container img {
  position: relative;
  width: 100px;
  height: auto;
}

.banner h1,
.banner .container img,
.banner p {
  margin: 0 0 10px;
}

.banner .frontend-button {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.banner .frontend-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


/* Intro */
.intro {
  padding: 60px 0 0;
}

.intro .container {
  align-items: center;
}

.intro h2 {
  margin-bottom: 20px;
}

.intro .img-container {
  width: 100%;
  padding: 0 0 75%;
  border-radius: var(--border-radius-20);
}

@media (max-width: 1024px) {
  .banner {
    padding: 200px 0;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 100px 0;
  }

  .intro .col-img {
    order: 2;
  }

  .intro .col-content {
    order: 1;
  }
}