.history {
  padding-top: 200px;
}

.graph-container {
  width: 100%;
  position: relative;
}

.legend {
  margin-bottom: 20px;
}

.legend-item-color.green {
  background-color: var(--green);
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius-5);
}

.legend-item-color.red {
  background-color: var(--red);
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius-5);
}

.legend-item {
  align-items: center;
}

.graph-bars {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
}

.zero-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, .2);
  z-index: 10;
  transform: translateY(-50%);
}

.graph-bar-group {
  flex: 0 0 14.28%;
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
  position: relative;
}

.bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.difference-bar.positive {
  background-color: var(--green);
  border-radius: 4px 4px 0 0;
}

.difference-bar.negative {
  background-color: var(--red);
  border-radius: 0 0 4px 4px;
}

.bar-value {
  font-size: 10px;
  color: var(--white);
  text-align: center;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

.bar-label {
  font-size: 12px;
  text-align: center;
  color: var(--white);
  position: absolute;
  bottom: 0;
}